.voting {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.voting button {
    flex: 1 0 0;
    background-color: #673AB7;
    border-width: 0;
    color: #F0FFFF;
}

.voting button:first-child {
    border-bottom: 1px solid white;
}

.voting button:hover:enabled {
    background-color: #7768b7;
    color: #F0FFFF;
}

.voting button:active:enabled {
    background-color: #1A922A;
    color: #929132;
}

.voting button:disabled {
    color: #989970;
}

.voting button.voted {
    background-color: #14ff37;
    color: #999999;
}

@media only screen and (min-width: 500px) {
    .voting {
        flex-direction: row;
    }

    .voting button:first-child {
        border-bottom-width: 0;
        border-right: 1px solid white;
    }
}